

<!DOCTYPE html>
<html>
    
    <body>
       <div id="main">
    	<div class="fof">
                {{>header}}
        		<h1>{{message}}</h1>
                {{>footer}}
    	</div>
        </div>

    </body>
</html>


